form {
    font-family: inherit;
    font-size: 15px;
}

label {
    font-size: 20px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 100%;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #94d3a2;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.errorMessage {
    background-color: rgb(209, 134, 134);
    border-radius: 20px;
    text-align: center;
}

.blackgroundPic{
    opacity: 0.5;
}
.LoginANDSignup{
    color: 'white';
    font-weight: 900;
}