.about-us-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
}

.about-us-wrapper .top-header {
    font-size: 35px;
    text-align: center;
}

.about-us-wrapper .member-info {
    text-align: center;
}

.about-us-wrapper .contact-info {
    text-align: center;
}

.about-us-wrapper .bottom-text {
    text-align: center;
}

.about-us-wrapper a {
    color: black;
}

/* selected link */
.about-us-wrapper a:hover {
    color: rgb(100, 100, 100);
}