@import url('https://fonts.googleapis.com/css2?family=Poppins');

.errorMessage {
    background-color: rgb(209, 134, 134);
    border-radius: 20px;
    text-align: center;
}

.errorMessage span {
    color: "white";
}