@import url('https://fonts.googleapis.com/css2?family=Poppins');

.logo Image {
    height: 30px;
    width: auto;
}

#basic-nav-dropdown {
    color: rgba(255, 255, 255, calc(4/5));
}

#basic-nav-dropdown:hover {
    color: rgb(255, 255, 255);
}

.navbar {
    background-color: #bdc099;
    font-size: larger;
    font-family: 'Poppins', sans-serif;

}

@media screen and (max-width: 500px) {
    .navbar-brand img {
        width: 210px;
        height: auto;
    }

    .navbar-brand {
        padding-left: 0%;
        margin-left: -20px;
    }
}

@media screen and (max-width: 350px) {
    .logo img {
        width: 170px;
        height: auto;
    }

    .logo {
        margin-left: -10px;
    }
}