.home-panel {
    font-family: 'Poppins';
}

.home-panel .card.Income {
    background-color: #7a7a7ae6;
}

.home-panel .card.Expense {
    background-color: #7a7a7ae6;
}

.home-panel .card.Balance {
    background-color: #7a7a7ae6;
}

.home-panel .card-header {
    font-size: large;
    color: rgb(255, 255, 255);
}

.home-panel .card-text {
    text-align: right;
    color: rgb(255, 255, 255);
}