.form-control:focus,
.form-select:focus,
.btn.btn-primary:focus {
    border-color: #bdc099e6 !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, calc(4/5)) !important;
}

.form-control {
    border-radius: 5px;
}

.btn.btn-primary {
    background-color: #bdc099;
    border-color: #bdc099e6;
    color: rgba(0, 0, 0, calc(2/3));
}

.btn.btn-primary:hover {
    background-color: rgba(0, 0, 0, calc(4/5));
    border-color: #bdc099e6;
}