.wishlist-wrapper {
    font-family: 'Poppins';
}

.wishlist-wrapper .button {
    background-color: rgb(177, 176, 176);
    border-color: rgb(243, 239, 239);
    color: rgba(0, 0, 0, calc(2/3));
}

.wishlist-wrapper .button:hover {
    background-color: rgba(0, 0, 0, calc(4/5));
    border-color: #bdc099e6;
    color: white;
}

.wishlist-wrapper .button:focus {
    border-color: #e7e2f6e6 !important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, calc(4/5)) !important;
}